html {
  height: 100%;
}

body {
  padding-bottom: 5rem;
  padding-left: 310px;
}

pre[class^='language-'] {
  margin-top: 1rem;
  font-size: 13px;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: auto;
  border-radius: 5px;
}
